.surveyForm{
    margin:auto;
    justify-content: center;
    border:solid black;
    width: 95%;
    margin-top: 10px;
    padding: 30px;

}
.wrap{
    float: left;
    padding: 5px;
}
.emailWrap{
    clear: left;
}
.asterix{
    color: red;
}
.inputName{
    display:block;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}
.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
.ratingPara{
 font-size:xx-small;
}
.btnSubmit{
    margin-top: 10px;

}
.main-label{
    font-weight: bold;
}
th{
    font-weight: normal;
}